<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Redireccionando...</title>
  
  <meta http-equiv="refresh" content="0;url=/es/" />
  
  <script is:inline>
    window.location.pathname = `/es/`;
  </script>
</head>
<body>
  <div style="font-family: sans-serif; text-align: center; margin-top: 50px;">
    <p>Redirigiendo a la versión en español...</p>
    <p>Si no eres redirigido automáticamente, <a href="/es/">haz clic aquí</a>.</p>
  </div>
</body>
</html>