---
import { type CollectionEntry, getCollection } from "astro:content"

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects"> | CollectionEntry<"career">
}

const { entry } = Astro.props
const { collection } = entry
const { Content } = await entry.render()

const lang = entry.id.startsWith("en/") ? "en" : "es";

const items = (await getCollection(collection as any)) as any[];
const filteredItems = items
  .filter((post) => post.data.draft !== true && post.id.startsWith(`${lang}/`))
  .sort((a, b) => new Date(b.data.date || b.data.dateStart).getTime() - new Date(a.data.date || a.data.dateStart).getTime());

const index = filteredItems.findIndex(x => x.slug === entry.slug)
const prev = filteredItems[(index - 1 + filteredItems.length) % filteredItems.length]
const next = filteredItems[(index + 1) % filteredItems.length]

const collectionPath = collection === "projects" 
  ? (lang === "es" ? "proyectos" : "projects") 
  : (collection === "career" ? (lang === "es" ? "trayectoria" : "career") : "blog");
---

<div>
  <article>
    <Content/>
  </article>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-12">
    </div>
</div>